
body
{
	font-family: sans-serif;
}

body * {
	outline: none;
}

p {
	text-indent: 0;
	margin:0.3em;
	margin-left: 20px;
}

.aboutProject {
	width: 80%;
	position: relative;
	vertical-align: middle;
	display: block;
	margin: 20px auto;
	padding: 20px 10px;
	box-shadow: 0 0 20px rgba( 0, 0, 0, 0.20 );
	font-family: sans-serif;
	overflow: hidden;
}

.title {
	width: 100%;
	position: relative;
	font-weight: 600;
	font-size: 1.25em;
	border-radius: 4px;
	border-style: solid;
	border-color: #ddd;
	border-width: 1px;
	box-shadow: 0 3px 20px rgba(52,74,94 , .35);
	border: 2px solid rgba(189,195,199 ,0.75);
	color: rgba(52,73,94 ,0.85);
}

.text {
	position: relative;
	font-size: 1em;
	color: #444;
	display: inline;
}

.gallery {
	margin: 30px auto;
    text-align: center;
	height: 50%;
	width: 70%;
}

.miniatures {
	position: relative;
	display: flex;
	margin-top: 2%;
	overflow-x: scroll; 
	overflow-y: hidden;
	white-space: nowrap;  
	word-wrap: normal; 
	margin-top: 8px;
	height: 100%;
	width: 100%;
}

.miniatures img {
	position: relative;
    display: inline-block;
    margin: 4px;
	width: 180px;
	height: 100px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.miniatures img:hover {
	cursor: pointer;
}

.videoMiniature {
	position: relative;
    display: inline-block;
    margin: 4px;
	width: 180px;
	height: 100px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.video {
	width: 100%;
	height: 100%;
	text-align: center;
	display: block;
	position: relative;
}

.magnifiedImg {
	width: 100%;
	height: 100%;
	text-align: center;
	display: none;
	position: relative;
}

.magnifiedImg:hover {
	cursor: pointer;
}

.overlay {
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
	background-color: rgba(1,1,1 ,0.70);
	position: fixed;
	z-index: 2;
	display: none;
}

.overlayImg {
	width: 80%;
	height: 80%;
	display: block;
    top: 10%;
    left: 10%;
	position: fixed;
	z-index: 3;
}

.closeOverlay {
	width: 35px;
	height: 35px;
	display: block;
	border-radius: 20px;
	position: absolute;
	top: 11.5%;
    left: 87%;
    z-index: 4;
}

.closeOverlay:hover{
	cursor: pointer;
	background-color: #928C8C;
}

.overlayButton {
	width: 50px;
	height: 100px;
	background-color: #ddd;
	display: block;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 30px;
	position: absolute;
    z-index: 3;
	border-style: solid;
	border-color: #252222;
	border-width: 2px;
}

.overlayButton:hover {
	cursor: pointer;
	background-color: #928C8C;
}

#overlayButtonLeft {
	top: 46%;
    left: 5.6%;
}

#overlayButtonRight {
	top: 46%;
    left: 91%;
}

#imgOrdinalNumber {
	position: absolute;
	top: 91%;
    left: 48.5%;
    color: #FFFFFF;
}